<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>1111</string>
	<key>data</key>
	<array>
		<dict>
			<key>addtime</key>
			<string>1485095507</string>
			<key>briefComment</key>
			<array/>
			<key>checktime</key>
			<string>0</string>
			<key>comments</key>
			<string>0</string>
			<key>content</key>
			<string></string>
			<key>contentUrl</key>
			<string>https://my.cqtimes.cn/mobile/postapi/getpostdetailcontent/postId/1707612.html</string>
			<key>distance</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>path</key>
					<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-22/5884c259d270b.jpg</string>
					<key>ratio</key>
					<string>1.78</string>
					<key>remark</key>
					<string></string>
					<key>thumb</key>
					<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-22/2_1_5884c259d270b.jpg</string>
				</dict>
			</array>
			<key>isDel</key>
			<string>1</string>
			<key>isPraise</key>
			<string>1</string>
			<key>isautocheck</key>
			<string>1</string>
			<key>mainComments</key>
			<string>0</string>
			<key>nid</key>
			<string>1707612</string>
			<key>praises</key>
			<string>0</string>
			<key>shareUrl</key>
			<string>https://my.cqtimes.cn/mobile/postapi/getpostsharedetail/postId/1707612.html</string>
			<key>status</key>
			<string>2</string>
			<key>title</key>
			<string>[直播]哈哈</string>
			<key>type</key>
			<string>4</string>
			<key>uid</key>
			<string>100115</string>
			<key>userimg</key>
			<string></string>
			<key>username</key>
			<string>弦月是朵花</string>
			<key>videos</key>
			<array>
				<string>rtmp://pili-live-rtmp.cqtimes.cn/cqtimes/1707612</string>
			</array>
			<key>views</key>
			<string>0</string>
		</dict>
	</array>
	<key>desc</key>
	<string>请求成功</string>
</dict>
</plist>
