<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>1111</string>
	<key>desc</key>
	<string>请求成功！</string>
	<key>postlist</key>
	<array>
		<dict>
			<key>id</key>
			<string>15</string>
			<key>title</key>
			<string>推荐</string>
		</dict>
		<dict>
			<key>id</key>
			<string>16</string>
			<key>title</key>
			<string>入住号</string>
		</dict>
		<dict>
			<key>id</key>
			<string>163</string>
			<key>title</key>
			<string>民生</string>
		</dict>
		<dict>
			<key>id</key>
			<string>196</string>
			<key>title</key>
			<string>好耍</string>
		</dict>
		<dict>
			<key>id</key>
			<string>199</string>
			<key>title</key>
			<string>好吃</string>
		</dict>
		<dict>
			<key>id</key>
			<string>190</string>
			<key>title</key>
			<string>现场</string>
		</dict>
		<dict>
			<key>id</key>
			<string>183</string>
			<key>title</key>
			<string>麻辣故事</string>
		</dict>
		<dict>
			<key>id</key>
			<string>191</string>
			<key>title</key>
			<string>法治</string>
		</dict>
		<dict>
			<key>id</key>
			<string>179</string>
			<key>title</key>
			<string>文史</string>
		</dict>
		<dict>
			<key>id</key>
			<string>216</string>
			<key>title</key>
			<string>美女</string>
		</dict>
		<dict>
			<key>id</key>
			<string>165</string>
			<key>title</key>
			<string>财经</string>
		</dict>
		<dict>
			<key>id</key>
			<string>174</string>
			<key>title</key>
			<string>校园</string>
		</dict>
		<dict>
			<key>id</key>
			<string>175</string>
			<key>title</key>
			<string>风尚</string>
		</dict>
		<dict>
			<key>id</key>
			<string>164</string>
			<key>title</key>
			<string>政务</string>
		</dict>
		<dict>
			<key>id</key>
			<string>189</string>
			<key>title</key>
			<string>数据</string>
		</dict>
		<dict>
			<key>id</key>
			<string>188</string>
			<key>title</key>
			<string>人物</string>
		</dict>
		<dict>
			<key>id</key>
			<string>206</string>
			<key>title</key>
			<string>打拼</string>
		</dict>
		<dict>
			<key>id</key>
			<string>215</string>
			<key>title</key>
			<string>体育</string>
		</dict>
		<dict>
			<key>id</key>
			<string>210</string>
			<key>title</key>
			<string>家长</string>
		</dict>
		<dict>
			<key>id</key>
			<string>192</string>
			<key>title</key>
			<string>健康</string>
		</dict>
	</array>
	<key>qiniuDomain</key>
	<string>https://oj8xnntfo.qnssl.com</string>
	<key>status</key>
	<integer>0</integer>
	<key>tipoff</key>
	<array>
		<dict>
			<key>1</key>
			<string>突发事件</string>
			<key>2</key>
			<string>奇闻趣事</string>
			<key>3</key>
			<string>投诉揭黑</string>
			<key>4</key>
			<string>社会百态</string>
			<key>5</key>
			<string>联系记者</string>
			<key>6</key>
			<string>寻求帮助</string>
			<key>7</key>
			<string>报纸纠错</string>
			<key>8</key>
			<string>其它事件</string>
		</dict>
	</array>
</dict>
</plist>
