<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>1111</string>
	<key>desc</key>
	<string>请求成功！</string>
	<key>post_first</key>
	<array>
		<dict>
			<key>addtime</key>
			<string>1484886181</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>22</integer>
			<key>id</key>
			<string>1704600</string>
			<key>img</key>
			<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/81beb878-818f-4a2e-ba9b-fe6a158f6b61.jpg</string>
			<key>imglist</key>
			<array>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/81beb878-818f-4a2e-ba9b-fe6a158f6b61.jpg</string>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/a5a033ab-b319-49dc-bb7e-25ca22ca20f7.jpg</string>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/e472c5a0-bcfd-4981-aeca-47591f123644.jpg</string>
			</array>
			<key>imgs</key>
			<string>947424,947425,947426</string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>3</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>重庆部落</string>
			<key>title</key>
			<string>重庆一男子点蜡烛庆新婚，烧光新房损失近20万！</string>
			<key>ugcid</key>
			<string>1</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=1704600</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484885131</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>10</integer>
			<key>id</key>
			<string>1704581</string>
			<key>img</key>
			<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/53d9ab86-885c-4850-8399-a6bfcf611769.jpg</string>
			<key>imglist</key>
			<array>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/53d9ab86-885c-4850-8399-a6bfcf611769.jpg</string>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/80fc5083-7360-452d-b7a3-725aacc0ac7e.jpg</string>
			</array>
			<key>imgs</key>
			<string>947306,947307</string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>1</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>沙坪坝新闻网综合新闻</string>
			<key>title</key>
			<string>三峡广场“花海灯光音乐节”启动</string>
			<key>ugcid</key>
			<string>1</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=1704581</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484874064</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>75</integer>
			<key>id</key>
			<string>1703978</string>
			<key>img</key>
			<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/05029479-8ce6-4844-927c-70eb74a27f16.jpg</string>
			<key>imglist</key>
			<array>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-20/05029479-8ce6-4844-927c-70eb74a27f16.jpg</string>
			</array>
			<key>imgs</key>
			<string>942179</string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>1</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>cqhjsx</string>
			<key>title</key>
			<string>打开魔幻3D立体城市的正确姿势</string>
			<key>ugcid</key>
			<string>445</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=1703978</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484704297</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>0</integer>
			<key>id</key>
			<string>168864</string>
			<key>img</key>
			<string></string>
			<key>imglist</key>
			<array/>
			<key>imgs</key>
			<string></string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>4</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>chicq023</string>
			<key>title</key>
			<string>吃香菜折耳根的人都TM是异类！！这两类人又打起来了！</string>
			<key>ugcid</key>
			<string>6</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168864</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484704319</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>0</integer>
			<key>id</key>
			<string>168862</string>
			<key>img</key>
			<string></string>
			<key>imglist</key>
			<array/>
			<key>imgs</key>
			<string></string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>4</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>chicq023</string>
			<key>title</key>
			<string>重庆，一座放肆的城市，竟然连美食都这么嚣张！</string>
			<key>ugcid</key>
			<string>6</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168862</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484704295</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>3</integer>
			<key>id</key>
			<string>168859</string>
			<key>img</key>
			<string></string>
			<key>imglist</key>
			<array/>
			<key>imgs</key>
			<string></string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>4</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>chicq023</string>
			<key>title</key>
			<string>搞事情！网上惊现九大最难吃蔬菜！</string>
			<key>ugcid</key>
			<string>6</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168859</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484704221</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>3</integer>
			<key>id</key>
			<string>168857</string>
			<key>img</key>
			<string></string>
			<key>imglist</key>
			<array/>
			<key>imgs</key>
			<string></string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>4</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>chicq023</string>
			<key>title</key>
			<string>30块钱带你吃遍重庆九龙坡...</string>
			<key>ugcid</key>
			<string>6</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168857</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484704255</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>3</integer>
			<key>id</key>
			<string>168856</string>
			<key>img</key>
			<string></string>
			<key>imglist</key>
			<array/>
			<key>imgs</key>
			<string></string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>4</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>chicq023</string>
			<key>title</key>
			<string>哪个说重庆特产只有火锅底料？吃货老司机带你买买买！</string>
			<key>ugcid</key>
			<string>6</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168856</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484703844</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>5</integer>
			<key>id</key>
			<string>168738</string>
			<key>img</key>
			<string></string>
			<key>imglist</key>
			<array/>
			<key>imgs</key>
			<string></string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>4</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>cqms023</string>
			<key>title</key>
			<string>渝中区这些神奇路边摊，为何那么多重庆人吐槽？</string>
			<key>ugcid</key>
			<string>409</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168738</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>1484703803</string>
			<key>caststate</key>
			<string>1</string>
			<key>collect_is</key>
			<integer>2</integer>
			<key>des</key>
			<integer>6</integer>
			<key>id</key>
			<string>168737</string>
			<key>img</key>
			<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-18/fce11bb0-c228-4074-88e0-f72815de8fab.jpg</string>
			<key>imglist</key>
			<array>
				<string>https://my.cqtimes.cn/Uploads/Picture/2017-01-18/fce11bb0-c228-4074-88e0-f72815de8fab.jpg</string>
			</array>
			<key>imgs</key>
			<string>876732</string>
			<key>inside</key>
			<string>0</string>
			<key>iscomment</key>
			<string>1</string>
			<key>isspecial</key>
			<integer>0</integer>
			<key>isvote</key>
			<string>1</string>
			<key>modelstatus</key>
			<string>1</string>
			<key>pl_counts</key>
			<string>0</string>
			<key>refer</key>
			<string>cqms023</string>
			<key>title</key>
			<string>这些菜千万别直接用水冲洗，越洗越脏！</string>
			<key>ugcid</key>
			<string>409</string>
			<key>url</key>
			<string>https://my.cqtimes.cn?g=home&amp;c=newsdetail&amp;a=index&amp;id=168737</string>
			<key>videotime</key>
			<string></string>
			<key>videourl</key>
			<string></string>
			<key>zhiding</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
